@tailwind base;
@tailwind components;
@tailwind utilities;

/* ************ APP MAIN **********/

* {
    font-family: sans-serif;
    margin: 0 auto;
    line-height: 1.3em;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: rgba(238, 238, 238, 0.388);
    width: 80vw;
    margin: 0 auto;
    padding: 0;
}


button, a {
    cursor: pointer;
   
    border-bottom: .3rem solid rgba(255, 255, 255, 0);
}

a.active {
    border-bottom: .3rem solid rgb(255, 196, 186);

}

/* ************ APP MAIN **********/